{% extends "base.html" %}

{% block title %}
	Efficient Gamer
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
{% endblock %}

{% block main %}
<h1 style="text-align: center;">Hello {{ session.get('username') }}</h1>
<form class="userform" action="/user_update/{{user[0]}}" method="POST">
    <input type="text" name="username" id="username"  value ="{{user[1]}}" required> <br>        
    <input type="email" name="email" id="email" value ="{{user[2]}}" required> <br>        
    <input type="password" name="password" id="password" value ="{{user[3]}}" required> <br>
    <select name="admin" id="admin"> 
        {% if user[4]==1%}           
        <option value=0 >Regular User </option>
        <option value=1 selected>Admin User</option>
        {% else %}  
        <option value=0 selected >Regular User </option>
        <option value=1 disabled >Admin User</option>  
        {% endif %}        
    </select> <br>            
    <button type="submit">Save</button>           
</form><br><br>
{% endblock %}